<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
    <style>
        .fr {
            float: right;
        }

        .fl {
            float: left;
        }

        .navP{
            padding-left: 10%;
            padding-right: 15%;
            margin-bottom: 30px;
        }

        .box {
            margin-left: 12.5%;
            margin-right:17.5%;
        }

        .box1 {
            margin-left: 12.5%;
            margin-right:3.5%;
        }

        h3{
            color: #009688;
        }

        .clear{
            clear: both;
        }

        .colorB {
            color: darkblue;
        }

        .deleteReview{

        }
    </style>
</head>
<body>
    <div>
    <ul class="layui-nav layui-bg-black navP" lay-filter="">
        <li class="layui-nav-item"><a th:href="@{/}">Home</a></li>
        <li class="layui-nav-item"><a th:href="@{/newRelease}">New Releases</a></li>
        <li class="layui-nav-item"><a th:href="@{/discover}">Discover</a></li>
        <li class="layui-nav-item"><a th:href="@{/charts}">Charts</a></li>
        <li class="layui-nav-item"><a th:href="@{/review}">Reviews</a></li>

        <li class="layui-nav-item fr" th:if="${session.username} != null">
            <a th:if="${session.avatar} != null" th:href="@{/}"><img th:src="@{${session.avatar}}" class="layui-nav-img" th:text="${session.username}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a th:href="@{/profile/{username}(username=${session.username})}">Profile</a></dd>
                <dd><a th:href="@{/}">Avatar</a></dd>
                <dd><a th:href="@{/}">Your Reviews</a></dd>
                <dd><a th:href="@{/user/logout}">Log out</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item fr" th:if="${session.username} == null"><a th:href="@{/user/register}">Sign up</a></li>
        <li class="layui-nav-item fr" th:if="${session.username} == null"><a th:href="@{/user/login}">Log in</a></li>
        <li class="layui-nav-item fr"><a th:href="@{/search}">Search <i class="layui-icon layui-icon-search"></i></a> </li>

    </ul>
    </div>

    <div class="box1 fl">
        <img th:src="@{${album.coverUrl}}" height="200" width="200" >
    </div>

    <div class="box">
        <h1 th:text="${album.name}"></h1>
        <br>
        <span style="color: grey">Artist: </span>
        <span th:text="${album.artist}"></span> <br>
        <span style="color: grey">Genre: </span>
        <span th:text="${album.genre}"></span> <br>
        <span style="color: grey">Release Date: </span>
        <span th:text="${album.releaseDate}"></span> <br>
        <span style="color: grey">User ratings: </span>
        <span th:if="${ratingCount} >= 10">
            <span th:text="${averageRating}"></span>
            <span> From</span>
            <span th:text="${ratingCount}"></span>
            <span> Ratings</span>
        </span>
        <span th:if="${ratingCount} < 10">
            Insufficient number of ratings (less than 10)
        </span>
        <br>
        <span style="color: grey">Your rating: </span>
        <div id="test1" lay-filter="rate" >
        </div>
        <br><i class="layui-icon layui-icon-edit"></i>
        <a class="colorB" th:href="@{/album/{albumId}/addReview(albumId=${album.id})}"> Write a review</a>

    </div>

    <div class="box clear">
        <br>
        <h3>Introduction</h3>
        <p th:text="${album.introduction}"></p>
    </div>
    <br>

    <div class="box">
        <h3>Track Listing</h3>
        <p th:text="${album.trackListing}"></p>
    </div>
    <br>

    <div class="box">
        <h3>User Reviews</h3>
    </div>

    <div class="box" th:each="reviewVO,reviewVOStat:${reviewVOList}">
        <span class="colorB" th:text="${reviewVO.username}"></span> &nbsp &nbsp
        <span style="color: grey" th:text="${reviewVO.updateTime}"></span> &nbsp &nbsp
        <a th:if="${session.username} == ${reviewVO.username}" th:id="${reviewVO.reviewId}" class="deleteReview">
            <i class="layui-icon layui-icon-delete"></i></a>
        <p th:text="${reviewVO.content}"></p>
        <hr>
    </div>


    <input type="hidden" th:value="${album.id}" id="albumId"/>
    <input type="hidden" th:value="${session.userId}" id="userId"/>

    <script>
        layui.use('rate', function(){
            var rate = layui.rate;
            var albumId =$("#albumId").val();
            var userId =$("#userId").val();
            // console.log(albumId);
            // console.log(userId);

            //渲染
            var ins1 = rate.render({
                elem: '#test1'  //绑定元素
                ,half: true

            });

            $.ajax({
                url: "/rate/" + albumId + "/" + userId,
                type: "GET",
                dataType: "json",
                success: function(res) {
                    if (res.code == 0) {
                        ins1.config.value = res.data;
                        ins1.config.readonly = true;
                        rate.render(ins1.config);
                    } else {
                    }
                },
                error: function(){
                }
            });

            $("#test1").click(function(){
                var star = ins1.config.value;
                // console.log(star);

                if(userId == ''){
                    location.href = "/user/login";
                }

                var obj = {};
                obj["albumId"] = albumId; obj["userId"] = userId; obj["score"] = star;

                $.ajax({
                    url: "/rate/create",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(obj),
                    success: function(res) {
                        if (res.code == 0) {
                            layer.msg('Rate Success', {icon: 6,time:1000});
                            ins1.config.readonly = true;
                            rate.render(ins1.config);
                        } else {
                            layer.msg('You have rated!', {icon: 6,time:3000});
                        }
                    },
                    error: function(){
                    }
                });
            });

        });

        $(".deleteReview").click(function() {
            var albumId =$("#albumId").val();
            var id = $(this).attr("id");
            var obj = {};
            obj["id"] = id;
            $.ajax({
                url: "/review/delete",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(obj),
                success: function(res) {
                    if (res.code == 0) {
                        layer.msg('Delete Success', {icon: 6,time:1000}, function () {
                            location.href = "/album/" + albumId;
                        });
                    } else {
                        layer.msg('Delete Fail', {icon: 5,time:3000});
                    }
                }
            });
        });
    </script>
</body>
</html>