<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>

    <style>
        h1 {
            margin: 0 auto;
            width:200px;
            font-size: 50px;
        }

        .center-block {
            margin: 0 auto;
            width:320px;
        }

        .fr {
            float: right;
        }

        .navP{
            padding-left: 10%;
            padding-right: 15%;
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
    <div>
    <ul class="layui-nav layui-bg-black navP" lay-filter="">
        <li class="layui-nav-item"><a th:href="@{/}">Home</a></li>
        <li class="layui-nav-item"><a th:href="@{/newRelease}">New Releases</a></li>
        <li class="layui-nav-item"><a th:href="@{/discover}">Discover</a></li>
        <li class="layui-nav-item"><a th:href="@{/charts}">Charts</a></li>
        <li class="layui-nav-item"><a th:href="@{/review}">Reviews</a></li>

        <li class="layui-nav-item fr" th:if="${session.username} != null">
            <a th:if="${session.avatar} != null" th:href="@{/profile/{id}(id=${session.userId})}"><img th:src="@{${session.avatar}}" class="layui-nav-img" th:text="${session.username}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a th:href="@{/profile/{id}(id=${session.userId})}">My Profile</a></dd>
                <dd><a th:href="@{/message/{id}(id=${session.userId})}">My Message</a></dd>
                <dd><a th:href="@{/record/{id}(id=${session.userId})}">My Record</a></dd>
                <dd><a th:href="@{/user/logout}">Log out</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item fr" th:if="${session.username} == null"><a th:href="@{/user/register}">Sign up</a></li>
        <li class="layui-nav-item fr" th:if="${session.username} == null"><a th:href="@{/user/login}">Log in</a></li>
        <li class="layui-nav-item fr"><a th:href="@{/search}">Search <i class="layui-icon layui-icon-search"></i></a> </li>

    </ul>
    </div>

    <div>
        <h1>Search</h1>
    </div>
    <br><br>

    <div class="layui-form center-block">
        <form class="layui-form" th:action="@{/search/all}" th:method="get">
            <div class="layui-form-item">
                    <input type="text" name="keyword" placeholder="Search an album"
                           autocomplete="off" class="layui-input" lay-verify="required">
            </div>

            <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit>Search</button>
            </div>
        </form>
    </div>
</body>
</html>