<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" th:href="@{/images/admin_favicon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>

    <style>
        .fr {
            float: right;
        }

        .navP{
            padding-left: 10%;
            padding-right: 15%;
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
    <div>
        <ul class="layui-nav layui-bg-black navP" lay-filter="">
            <li class="layui-nav-item"><a th:href="@{/admin/index}">Home</a></li>
            <li class="layui-nav-item"><a th:href="@{/audit}">Audit</a></li>
            <li class="layui-nav-item"><a th:href="@{/admin/logout}">Log out</a></li>
        </ul>
    </div>

</body>
</html>