<form class="form-signin" action="login" method="post">
    <img class="mb-4" src="./login_files/bootstrap-solid.svg" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">please sign in</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <input type="text"  name="username" id="inputUsername" class="form-control" placeholder="Username" th:placeholder="#{login.username}" required="" autofocus=""/>

    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" th:placeholder="#{login.password}" required="" />
    <div class="checkbox mb-3">
        <label >
            <!--行内-->
            <input type="checkbox" value="remember-me" /> [[#{login.remember}]]
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    <!--lg是参数名-->
    <a href="#" class="btn btn-sm" th:href="@{/index.html(lg='zh_CN')}" th:text="#{login.zh}">中文</a>
    <a href="#" class="btn btn-sm" th:href="@{/index.html(lg='en_US')}" th:text="#{login.en}">English</a>
</form>
